* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
}

/* @font-face {
  font-family: poppins;
  src: url(../src/Poppins/poppins.ttf);
} */

/* @font-face {
  font-family: poppins-medium;
  src: url(../src/Poppins/poppins-medium.ttf);
} */

body {
  display: block;
  background: linear-gradient(134.97deg, #2AB48E .07%, #5184EC 100.09%);
  /* background-image: url(../src/cards/background.png); */
  text-align: center;
  flex-direction: column;
  /* font-family: poppins; */
}

.notification {
  float: right;
  position: absolute;
  right: 1px;
  z-index: 9;
  background: #0E6EFD;
  border-radius: 5px;
  transition: all 1s ease;
  top: inherit;
  top: 55px;
  transition-duration: 4s;
  transition-delay: 2s;
  transition: all 1s ease-in-out;
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  padding: 11px;
  color: #fff;
  gap: 6px;
}

.toast-body {
  word-wrap: break-word;
}

.heading {
  font-size: 36px;
  line-height: 45px;
  text-align: center;
}

#dashboard {
  width: 98%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 2%;
}

#board-cards {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

#board-cards li {
  list-style: none;
  width: 10%;
  border: 1px solid;
  text-align: center;
  padding: 8px 6px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.disabledelement.empty-img img {
  opacity: 1;
  width: 63%;
}

.disabledelement {
  pointer-events: none;
}

.disabledelement img {
  opacity: 0.65;
}

.disable-user {
  pointer-events: none;
  display: none !important;
}

#board-cards .enable {
  pointer-events: all;
  cursor: pointer;
}

#board-cards .enable img {
  opacity: 1;
}

.empty-img {
  width: 64%;
}

img {
  width: 100%;
  height: auto;
}

.positions {
  display: block;
  /* font-family: 'poppins-medium'; */
  margin-top: 9px;
  padding: 12px;
  letter-spacing: 0.8px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

#playerCards {
  margin-top: 18px;
  width: 9%;
}

.hand-cards li {
  list-style: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  margin: 0 auto 5px;
  align-items: center;
}

.hand-cards ul {
  width: 85%;
  margin: 9px auto 0;
  padding: 0;
}

#player0.active {
  background: #E3193B;
  border-radius: 9px;
  padding: 7px;
}

.half.team0.active {
  background: #E3193B !important;
  border-radius: 9px;
  padding: 7px;
}

.team0 {
  order: 1;
}

.team1 {
  order: 2;
}

.team2 {
  order: 3;
}

.red::before {
  content: '';
  background-image: url('./assets/cards/red.png');
  position: absolute;
  background-size: contain;
  z-index: 9999;
  left: 50%;
  top: 50%;
  width: 45%;
  height: 63%;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.xhr::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(21, 19, 19, 0.25);
}

#player2.active {
  background: #5BB022;
  border-radius: 9px;
  padding: 7px;
}

.half.team2.active {
  background: #5BB022 !important;
  border-radius: 9px;
  padding: 7px;
}

.green::before {
  content: '';
  background-image: url('./assets/cards/green.png');
  background-size: contain;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 50%;
  width: 45%;
  height: 63%;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

#player1.active {
  background: #1F4E97 !important;
  border-radius: 9px;
  padding: 7px;
}

.half.team1.active {
  background: #1F4E97;
  border-radius: 9px;
  padding: 7px;
}

.blue::before {
  content: '';
  background-image: url('./assets/cards/blue.png');
  background-size: contain;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 50%;
  width: 45%;
  height: 63%;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.discardCards {
  position: fixed;
  bottom: 4%;
  right: 3%;
}

.remianing-deck {
  position: fixed;
  bottom: 4%;
  left: 3%;
}

.placements {
  width: 100px;
  height: auto;
  background: #fff;
  box-shadow: 1px 1px 1px #fff, 2px 2px 1px #fff, 3px 3px 1px grey, 4px 4px 1px #fff, 5px 5px 1px #fff, 6px 6px 1px grey, 7px 7px 1px #fff, 8px 8px 1px #fff, 9px 9px 1px grey, 10px 10px 1px #fff, 11px 11px 1px #fff, 12px 12px 1px grey, 13px 13px 1px #fff, 25px 25px 15px rgb(0 0 0 / 30%);
}

.xhr {
  pointer-events: none !important;
}

.xhr img {
  width: 96%;
  opacity: 0.8 !important;
}

.handcard {
  position: relative;
}

.deadcard {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin-left: 2px;
  font-weight: 800;
  word-break: initial;
}

.deadcard-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2px;
  background: #1c1c1c;
  border-radius: 50%;
  top: 4px;
}

#no-of-player {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 12%;
}

#displayPlayer {
  display: flex;
  flex-wrap: wrap;
}

.bold {
  font-family: 'Segoe UI', Tahoma, Verdana;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(134.97deg, #2AB48E .07% 100.09%);
  border-radius: 9px;
  padding: 6px 9px;
  margin: 0 0 12px;
  color: #fff;
  letter-spacing: 0.83px;
  line-height: 27px;
}

.players {
  /* font-family: 'poppins-medium'; */
  padding: 12px 15px;
  letter-spacing: 0.7px;
  font-size: 18px;
  width: 84%;
  margin: 9px auto 0;
  color: #fff;
  line-height: 20px;
}

.players div {
  margin-bottom: 6px;
}

.half {
  width: 50%;
}


/* Landing Page */
.custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-container {
  background-image: url("./assets/cards/landingbackground.png");
  background-size: cover;
  width: fit-content;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 100%;
  height: 100vh;
}

.main-heading {
  text-align: center;
  color: white;
}

.check-box {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.form-check-input {
  cursor: pointer;
}

.form-check-label {
  font-weight: bold;
}

.cus-width-input {
  width: 30%;
}

.cus-width {
  width: 22%;
}

.drop-down {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: center;
  gap: 3%;
}

.custom-btn {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.btn-light {
  padding: 8px 60px;
}

.join-room {
  margin-top: 30px;
}

.margin-bottom {
  margin: 45px 0 30px;
}

.capital {
  text-transform: uppercase;
}